@import '../../../stylesheets/variables.scss';
.console {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    $height: 28px;
    .executions {
        height: $height;
        display: flex;
        flex-direction: row;
        background-color: $white;

        .tab {
            height: 28px;
            font-size: 14px;
            border-radius: 3px 3px 0 0;
            display: flex;
            padding: 0 10px;
            align-items: center;
            color: $black;

            .tab-name {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .close-btn {
                margin-left: auto;
                line-height: 0;
            }
            
            &.active,
            &:hover {
                color: $blue;
                border-bottom: 2px solid currentColor;
            }
        }
    }

    .fill{
        position: absolute;
        top: $height;
        left: 0;
        right: 0;
        bottom: 0;
    }
}