.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:rgba(0,0,0, .6);
    z-index: 6;
    display: flex;

    .modal-main {
        background-color: #ffffff;
        width: 500px;
        margin: auto;
        border-radius: 3px;
        padding: 10px;
        position: relative;
        max-height: 600px;
        display: flex;
        flex-direction: column;

        $height: 30px;
        .top {
            display: flex;
            flex-direction: row;
            height: $height;
            flex: none;
        }

        .close-btn {
            margin-left: auto;
            padding: 5px;
            line-height: 0;
            cursor: pointer;
        }

        .modal-body {
            flex: 1 1 auto;
            overflow: auto;
        }
    }
}