@import '../../../../stylesheets/variables.scss';
.execution {
    position: absolute;
    top: 0;
    left: 0;
    right: 5px;
    bottom: 0;
    display: flex;
    flex-direction: column;

    .tools {
        flex: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $grey;
        font-size: 14px;

        .time-count,
        .rows {
            margin-left: 10px;
            margin-right: 10px;

            span {
                margin-left: 5px;
            }
        }
    }

    .flex-fill{
        flex: 1 1 auto;
        position: relative;
    }
}