@import '../../../../stylesheets/variables.scss';
.execution {
    position: absolute;
    top: 0;
    left: 0;
    right: 5px;
    bottom: 0;
    display: flex;
    flex-direction: column;

    .tools {
        flex: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $grey;
        font-size: 14px;
        margin: 10px 0;

        .time-count,
        .rows {
            margin-left: 10px;
            margin-right: 10px;

            span {
                margin-left: 5px;
            }
        }

        .search-wrapper {
            color: rgba(0,0,0,.65);
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: #fff;
            border: 1px solid #d9d9d9;
            border-radius: 2px;
            overflow: hidden;
            zoom: .9;

            .search {
                outline: none;
                margin: 0;
                padding: 0;
                list-style: none;
                padding: 4px 0px 4px 11px;
                font-size: 14px;
                line-height: 1.6;
                background-color: #fff;
                background-image: none;
                border: none;
            }

            .icon {
                text-align: center;
                line-height: 0;
                color: rgba(0,0,0,.65);
                padding: 0 5px;
                border-left: 1px solid currentColor;
                cursor: pointer;
            }
        }
    }

    .flex-fill{
        flex: 1 1 auto;
        position: relative;
    }
}