@import '../../../stylesheets/variables.scss';

$toolbar-height: 30px;

.sql-editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .toolbar {
        height: $toolbar-height;
        background-color: $medium-grey;
        color: $black;
    }

    .fill {
        position: absolute;
        top: $toolbar-height;
        left: 0;
        right: 0;
        bottom: 0;
    }
}