@import '../../../stylesheets/variables.scss';

$toolbar-height: 46px;

.sql-editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .toolbar {
        height: $toolbar-height;
        background-color: $medium-grey;
        color: $black;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 20px 0 0;

        > :first-child {
          margin-left: 0;
        }
    }

    .fill {
        position: absolute;
        top: $toolbar-height;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .setting-box {
        padding: 0 20px;
        width: 200px;

        .row {
            margin: 10px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}