@import './variables.scss';
html,
body {
  padding: 0;
  margin: 0;
  background-color: #FFF;
  font-family: "IBM Plex Sans", "sofiapro-regular", PingFangSC, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  user-select: none;
}

.btn-primary {
  line-height: 1.6;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  margin: 4px;
  padding: 0;
  padding: 4px 12px;
  font-size: 14px;
  border-radius: 2px;
  color: #fff;
  background-color:  $blue;

  &:hover {
    background-color: $dark-blue !important;
  }
}

.btn-link {
  line-height: 1.6;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  margin: 4px;
  padding: 0;
  padding: 4px 6px;
  font-size: 14px;
  color: $blue;

  &:hover {
    opacity: .6;
  }
}

.btn-outline {
  line-height: 1.6;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  margin: 4px;
  padding: 0;
  padding: 4px 6px;
  font-size: 14px;
  border-radius: 2px;
  color: $grey;
  background-color: $white;
  border: 1px solid $light-grey;

  &:hover {
    border: 1px solid $grey;
  }
}


.mg-l-auto {
  margin-left: auto !important;
}