@import '../../stylesheets/variables.scss';

.tree {
    position: relative;

    .tree-loading {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        padding-top: 20px;
        background-color: #ffffff;
        z-index: 1;
    }

    .branch {
        cursor: pointer;
        margin: 5px;
        font-size: 14px;
    }

    $base: 16px;
    $height: 20px;
    .branch-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: $height;

        .name-wrapper {
            position: relative;
            flex: 1 1 auto;
            height: $height;
            line-height: 20px;
        }

        svg {
            flex: none;
            height: auto;
            margin-right: 4px;
        }
    }

    .instance-type {
        padding-left: $base;
    }

    .schema-type {
        padding-left: $base * 2;
    }

    .column-type {
        padding-left: $base;
    }

    .instance, 
    .schema,
    .sheet,
    .column {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .sheet,
    .column {
        color: $grey;
    }

    .column span {
        margin-left: 4px;
        color: $blue;
    }

    .children {
        height: 0;
        overflow: hidden;
        transition: height linear 1s;
    }
}