$height: 30px;
.message-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 250px;
  z-index: 9 !important;
  display: flex;
  flex-direction: column;
  align-items: center;

    .message {
        position: relative;
        background-color: #ffffff;
        width: 250px;
        margin: 10px auto;
        box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
        border-radius: 2px; /* Rounded borders */
        padding: 0 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        height: $height;
        line-height: $height;
        font-size: 12px;

        // opacity: 0;
        // transform: translateY(-$height);
        // animation: show .5s;

        .msg-loading {
            display: flex;
            flex-direction: row;
            align-items: center;

            .icon-wrapper {
                position: relative;
                width: 40px;
                height: 100%;
                margin-right: 30px;
            }
        }
    }

    .hidden {
        animation: hidden .5s;
    }
}


@keyframes show {
    from {
        opacity: 0;
        transform: translateY(-$height);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes hidden {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(-$height);
    }
}