@import '../../stylesheets/variables.scss';

.sidebar {
    height: 100%;
    background-color: $dark-grey;
    padding-top: 10px;
    padding: 10px;
    color: $light-grey;

    .new {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px 2px;


        .plus {
            font-size: 24px;
            line-height: 0;
            cursor: pointer;
            padding: 8px;
            font-weight: 400;
            margin-left: 20px;
        }
    }

    .toolbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        // border-bottom: 1px solid #ccc;
        padding: 10px 0;
        overflow: hidden;

        .refresh-btn {
            text-align: center;
            line-height: 0;
            padding: 0 5px 0 8px;
            cursor: pointer;
        }

        .search-wrapper {
            color: rgba(0,0,0,.65);
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: #fff;
            border: 1px solid #d9d9d9;
            border-radius: 2px;
            overflow: hidden;

            .search {
                outline: none;
                margin: 0;
                padding: 0;
                list-style: none;
                padding: 4px 0px 4px 11px;
                font-size: 14px;
                line-height: 1.6;
                background-color: #fff;
                background-image: none;
                border: none;
            }

            .icon {
                text-align: center;
                line-height: 0;
                color: rgba(0,0,0,.65);
                padding: 0 5px;
                border-left: 1px solid currentColor;
                cursor: pointer;
            }
        }

    }

}