@import '../../stylesheets/variables.scss';

.sidebar {
    height: 100%;
    background-color: $dark-grey;
    padding-top: 10px;
    padding: 10px;
    color: $light-grey;

    .new {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px 2px;


        .plus {
            font-size: 24px;
            line-height: 0;
            cursor: pointer;
            padding: 8px;
            font-weight: 400;
            // margin-left: 20px;
        }

        .refresh-btn {
            text-align: center;
            line-height: 0;
            padding: 0 5px 0 8px;
            cursor: pointer;
            margin-left: auto;
        }
    }

}