@import '../../../stylesheets/variables.scss';

.panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    color: $light-grey;

    > * {
        flex: 1 1 auto;
    }

    .panel-header {
        $height: 46px;
        position: relative;
        height: $height;
        line-height: $height;
        display: flex;
        align-items: center;
        background-color: $black;
        color: $light-grey;
        border-bottom: 2px solid $black;
        padding: 0 20px;
        flex: none;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);
    }
}